@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import "tailwindcss";


:root {
	--background: #ffffff;
	--foreground: #000000;
	--foreground-lower: theme(--color-gray-500);
	--portfoliotext-lower: theme(--color-gray-500);
	--portfoliotext: theme(--color-gray-600);
	--bigtext: #a0a0a0;
	--navbar-background: #f2f2f2;
	--navbarshadow: theme(--shadow-lg);
	--image-background: #d9d9d9;
	--inputbg: #ffffff;
	--icon-bg: theme(--color-gray-300);
}



.dark {
	--background: #161616;
	--foreground: #ffffff;
	--foreground-lower: theme(--color-gray-500);
	--portfoliotext-lower: theme(--color-gray-400);
	--portfoliotext: theme(--color-gray-400);
	--bigtext: #333333;
	--navbar-background: #000000;
	--navbarshadow: 0 4px 10px rgba(255, 255, 255, 0.1);
	--image-background: #d9d9d9;
	--inputbg: #333333;
	--icon-bg: theme(--color-gray-800);
}


@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-lower: var(--foreground-lower);
	--color-portfoliotext-lower: var(--portfoliotext-lower);
	--color-portfoliotext: var(--portfoliotext);
	--color-primary: #884BCA;
	--color-bigtext: var(--bigtext);
	--color-navbar-background: var(--navbar-background);
	--color-image-background: var(--image-background);
	--color-hoverprimary: #46256A;
	--color-inputbg: var(--inputbg);
	--color-icon-bg: var(--icon-bg);

	--shadow-navbar: var(--navbarshadow);
	
	/* fonts  */
	--font-lilita: "Lilita One", sans-serif;
	--font-rubik: "Rubik", sans-serif;
	--font-spline: "Spline Sans", sans-serif;
	--font-clashdisplay: "Clash Display Variable", sans-serif;
	--font-stacknosh: "Stack Sans Notch", sans-serif;

	--breakpoint-3xl: 1600px;
  	--breakpoint-4xl: 2000px;
}



body {
	background: var(--background);
	color: var(--foreground);
	/* font-family:  ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
	font-family: "Inter", sans-serif;
}